<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.JS Tutorial</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
    <div id="app" class = "page-header">
      <h1>Pingo : smals monitoring application</small></h1>
	   <div class="panel panel-default">
	   <div id="heading" class="panel-heading">
                    <h3 class="panel-title">Status</h3>
      <p> Nombre de systeme monitoré : {{ nbr }}</p>
      </div>
      <div class="panel-body">
        <div id="app-4" >
          <ol>
            <li v-for="todo in todos">
              {{ todo.Target.Name }}
            </li>
          </ol>
       </div>
      </div>
			<div id ="footer" class="panel-footer">{{ message }} </div>
      </div>
	  
    </div>
    
  </body>

  <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>

  <script>
   var fruits = [];
    <% range $key, $value := .StateHolder.State %>
           fruits.push(<% json . | printf "%s"  %>);
      <% end %>
  
    var app = new Vue({
      el: '#heading',
      data: {
	    	nbr: <% len .StateHolder.State%>
      }
    })
var list = new Vue({
  el: '#app-4',
  data: {
    todos: fruits 
}})

var footer = new Vue({
  el: '#footer',
  data: {
        message: 'version <% .Version%> - build : hash <% .Hash%>' 
}})


  </script>
</html>