<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pingos</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
    <div id="app" class = "page-header">
      <h1>Pingo : smals monitoring application</small></h1>
	  </div>
     <div class="panel panel-default">
	   <div id="heading" class="panel-heading">
                    <h3 class="panel-title">Status</h3>
      <p><span class="badge"> total:{{ total }} </span> (<span  class="label label-danger">deads: {{ deads }}</span>/<span class="label label-success">alives: {{ alives }} </span>)
     
      </div>
      <div class="panel-body">
        <div id="app-4" >
          <table class="table">   
            <tr>
              <th>Name</th>
              <th>Online</th>
              <th>Since</th>
              <th>Update</th>
            </tr>
             <tr v-for="todo in sortedFruits">
             <td><a href="todo.Target.Addr">{{ todo.Target.Name }}</a></td> 
             <td> <p v-if="todo.Online"><span v-bind:id="todo.Target.Name" class="label label-success"> Alive </span></p>
                  <p v-else><span class="label label-danger" v-bind:id = "todo.Target.Name" v-on:click="hide"  >Dead</span></p>
             </td>
             <td>{{ todo.Since }}</td>
             <td>{{ todo.LastCheck }}</td>
            </tr>

          </table>
           <template v-for="todo in todos">
            <div class="panel panel-danger" v-bind:id = "'error_'+todo.Target.Name" style="display:none">
             <div class="panel-heading">{{ todo.Target.Name}}</div>
              <div class="panel-body"><p>{{ todo.Target.Name}}</p></div>
             </div>
               
          </template>
      
       </div>
      
      <div >
          
      
			<div id ="footer" class="panel-footer">{{ message }} </div>
      </div>
	
    
  </body>

  <script src="https://unpkg.com/vue@2.1.6/dist/vue.js"></script>
<script type="text/javascript">
  var timeout = setTimeout("location.reload(true);",1000000);
  function resetTimeout() {
    clearTimeout(timeout);
    timeout = setTimeout("location.reload(true);",1000000);
  }
</script>
  <script>
  function compare(a,b) {
  if (a.Target.Name < b.Target.Name)
    return -1;
  if (a.Target.Name > b.Target.Name)
    return 1;
  return 0;
}
  function alive (a) {
    return a.Online
  } 

   function toggle_visibility(id) {
     
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display   = 'none';
       else
          e.style.display = 'block';
    }

   var fruits = [];
    <% range $key, $value := .StateHolder.State %>
           fruits.push(<% json . | printf "%s"  %>);
      <% end %>
  
    var app = new Vue({
      el: '#heading',
      data: {
	    	todos: fruits
      },
      computed : {
        total : function () {
             return this.todos.length
        },
        alives : function() {
          return this.todos.filter(alive).length
        },
        deads : function(){
          return this.total - this.alives
        }
      }
    })
var list = new Vue({
  el: '#app-4',
  data: {
    todos: fruits ,
    todos2:fruits
  },
  computed : {
    sortedFruits: function() {
      return this.todos.sort(compare)
    }
  },
  methods : {
    hide : function (event) {
      toggle_visibility("error_"+event.target.id);
     
       },  
  }
  })

var footer = new Vue({
  el: '#footer',
  data: {
        message: 'version <% .Version%> - build : hash <% .Hash%>' 
}})


  </script>
</html>