body{
    padding: 40px; color: #33333A; font-family: Arial 
    }
table{
     border-collapse: collapse
     }
td, th {
     font-weight: normal; padding: 6px
     }
th{ background-color: #90909D; color: #FFF; border-bottom: 1px solid #445}
td{ border-bottom: 1px solid #999;}
.online{ background-color: #3E3; color: #FFF; padding: 3px 5px; border-radius: 5px}
.offline{ background-color: #E33; color: #FFF; padding: 3px 5px; border-radius: 5px}
.time{ font-size: 0.8em }